<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0a0f18">
  <meta name="description" content="{{ site.Params.description }}">
  <title>{{ block "title" . }}{{ site.Title }}{{ end }}</title>
  {{ range .AllTranslations }}<link rel="alternate" hreflang="{{ .Language.LanguageCode }}" href="{{ .Permalink }}">{{ end }}
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  {{ block "main" . }}{{ end }}
  {{ $js := resources.Get "js/app.js" | js.Build (dict "minify" true "format" "esm" "target" "es2020") | fingerprint }}
  <script type="module" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
</body>
</html>
